RestrictedPython==8.0
astor==0.8.1
mpi4py
pandas==2.2.3
PyYAML
redis==7.0.1
minio
tenacity
toml
requests
aiohttp
mlflow
detoxify
langcheck==0.9.0
textstat==0.7.8
debugpy
toml
docker
trl==0.18.0
datasets==3.5.0
peft==0.15.1
liger-kernel==0.5.9
transformers==4.51.3
tensorboard==2.19.0
typer==0.9.0
deepspeed==0.15.4
wandb==0.19.10
einops==0.8.1
sentencepiece==0.2.0
scipy==1.15.2
bitsandbytes==0.45.4
accelerate==1.6.0
